.navi_wrapper{
    border-bottom: 1px solid crimson;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    background-color: transparent;
    backdrop-filter: blur(5px);
    position: sticky;
    top: 0px;
    background-image: url(/assets/putzwand.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 15vh;
}

.logo{
    /* border: 1px solid green; */
    /* background-color: black; */
    height: 100%;
    width: 20%;

    display: flex;
    justify-content: left;
    align-items: center
}

.logoimage{
    height: 100%;
    width: 70%;
    
    /* border: solid red 2px; */
}



.navigationcontainer{
    /* border: 1px solid green;  */
    height: 100%;
    width: 80%;

    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
   
}

.rundeeckensection{
    /* border: 1px dotted blue; */
    height: 100%;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.rundeeckenspan{
    /* border: 1px green dotted; */
    background-color: transparent;
    border-radius: 100px 0px 100px 0px;
    width: 70%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rundeeckenspan:hover{
    backdrop-filter: blur(5px);
    border: 2px solid crimson;
    font-size: 60px;
}

/* .navigationlink:hover{
    font-size: 60px;
    font-family: fantasy;
} */

.navigationlink{
    text-decoration: none;
    color: crimson;
    font-family: fantasy;
    font-size: 40px;
}