.globalbody{
    /* background-color: #96999d; */
    background-color: black;
    /* height: auto; */
    height: 300vh;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;

    color: crimson;
  }

.maincontainer{
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 94vh;
}

.maintitle{
  color: #253a2f;
}

.myname{
  color: #6bceb6
}

.pbold{
  font-weight: bolder;
  color: white;
}