.navigationcontainer{
    border: 1px solid red;
    background-color: pink;
    display: flex;
    justify-content: space-around;
    align-items: center;

    height: 5vh;
}

.navigationlink{
    text-decoration: none;
}